body {
  margin: 0;
}

/* .MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
  padding-top: 20px;
} */
.MuiDialog-paper {
  max-width: 600px;
  width: 100%;
}
.MuiTypography-root.MuiFormControlLabel-label {
  font-size: 12px;
}
.MuiCircularProgress-indeterminate {
  width: 24px !important;
  height: 24px !important;
}
.info {
  border-color: #c7bcbcd6;
  border-radius: 4px;
}
.info:focus {
  outline: 1px solid #1976d2;
  border-color: #1976d2;
}
h1,
h2,
p {
  margin: 0;
}
